@charset "utf-8";

html, body { margin:0px; overflow:hidden; }
#chat_container {
  width:180px;
  padding-top:10px;
  background-color:#F5FBEF;
  overflow-x: hidden;
  overflow-y: auto;
  height:100%;
  position:fixed;
  _position:fixed;
  top: 54px;
  right:17px;
  max-height:75.5%;
  border: 1px solid #F7F7F7;
  border-top: 0px;
  border-right: 0px;
}